*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-main: #282828;
    --title-vue: #41B783;
    --title-js: #BFA01A;
    --white: #ffffff;
}

body{
    font-family: sans-serif;
    background-color: var(--bg-main);
}

main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#logo{
    width: 120px;
    height: 104px;
    margin-bottom: 16px;
}

h1{
    margin-bottom: 2rem;
}

.userInfo{
    color: var(--white);
    font-size: 32px;
}

.text-vue{
    color: var(--title-vue);
}

.text-js{
    color: var(--title-js);
}