*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-main: #282828;
    --title: #41B783;
}

body{
    font-family: sans-serif;
    background-color: var(--bg-main);
}

main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#logo{
    width: 120px;
    height: 104px;
    margin-bottom: 16px;
}

h1{
    color: var(--title);
}